/* 
    Created on : Sep 7, 2020, 12:58:13 PM
    Author     : Thomas
*/

table.artikel {
  border-collapse: collapse;
}

th, td {
  border: 1px solid grey;
  padding: 3px;
  padding-left: 8px;
}

th {
  text-align: left;
  background-color: #CCC;
}

tr.ungerade {
  background-color: #EEE;
}

tr.gerade {
  background-color: #FFF;
}

